@model AccountTrackerWebApp.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Testing Table</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Transaction Type</th>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Vendor</th>
                    <th>Ammount</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                <tr>
                    <td>@transaction.TransactionDate.Date.ToString("MM/dd/yyy")</td>
                    <td>@transaction.TransactionType.Name</td>
                    <td>@transaction.Account.Name</td>
                    <td>@transaction.Category.Name</td>
                    <td>@transaction.Vendor.Name</td>
                    <td style="text-align: right">$@transaction.Amount.ToString("#.00")</td>
                    <td>@transaction.Description</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>