@model IList<AccountTrackerWebApp.ViewModels.ViewModel.AccountWithBalance>

@{
    ViewBag.Title = "Accounts";
}

@Html.Partial("_Message")

@Html.Partial("_IndexHeading")
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Balance</th>
                            <th>Asset</th>
                            <th>Active</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model)
                        {
                            <tr>
                                <td>@account.Name</td>
                                <td style="text-align: right">$@account.Balance.ToString("#,##0.00")</td>
                                <td>@account.IsAsset</td>
                                <td>@account.IsActive</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Account", new { id = account.AccountID })" />
                                    <span class="glyphicon glyphicon-edit"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div class="panel panel-default">
    </div>
</div>