@model AccountTrackerWebApp.ViewModels.ViewModel

@{
    ViewBag.Title = "Edit Category";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <!--TODO: Research better way to pass transaction ID back to controller.-->
    @Html.HiddenFor(m => m.CategoryOfInterest.CategoryID)

    <!--TODO: Issue - validation summary showing even when there's no issues-->
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert - alert-danger" })

    @Html.Partial("_CategoryForm")

    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
